/b2
/b2.exe
/bin.v2
/bjam
/bjam.exe
/bootstrap.log
/boost
/dist
/project-config.jam*
/stage
/stage_x64/
/user-config.jam
/.settings/
/.project
/.pydevproject
/VS/CMakeFiles/3.24.0/CompilerIdC/Debug/CompilerIdC.tlog/*.tlog
/VS/CMakeFiles/3.24.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/*.tlog
/VS/CMakeFiles/3.24.0/CompilerIdC/Debug/CompilerIdC.tlog/*.lastbuildstate
/VS/CMakeFiles/3.24.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/*.lastbuildstate
/VS/CMakeFiles/3.24.0/x64/Debug/VCTargetsPath.tlog/*.lastbuildstate
/VS/CMakeFiles/3.24.0/CompilerIdC/Debug/_IsIncrementalBuild
/VS/CMakeFiles/3.24.0/CompilerIdCXX/Debug/_IsIncrementalBuild
/VS/CMakeFiles/3.24.0/x64/Debug/_IsIncrementalBuild
/VS/CMakeFiles/*.check_cache
/VS/CMakeFiles/0034073e086133292cb428517ea5480e/*.rule
/VS/CMakeFiles/005b42e8ca8f08cccbbb4b9ae1e6e00a/*.rule
*.rule
*.depend
generate.stamp.list
*.stamp
